[class^="icon-"], [class*=" icon-"] {
	background-image: url('../img/icons/icons.png?v34');
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 14px;
	vertical-align: text-top;
	width: 14px;
	height: 14px;
}
.icon-upload {
	background: url('../img/loading-logo.gif') center center no-repeat;
	width: 32px;
	height: 16px;
}
.icon-ajax-loader {
	background: url('../img/ajax-loader-logo.gif') center center no-repeat;
	width: 32px;
	height: 16px;
}

.icon-star{
	margin-top:2px;
	background-position: 0px -12px;
	width: 12px;
	height: 12px;
}

.icon-medal {
	background-position: -1px -24px;
	width: 10px;
	height: 14px;
}

.icon-search{
	margin-top:0px;
	background-position: -12px -38px;
	width: 11px;
	height: 11px;
}

.icon-delete {
  background-position: 0 -137px;
  height: 11px;
  width: 11px;
}

.icon-online {
	margin-top: 4px;
	background-position: 0 -148px;
	height: 8px;
	width: 8px;
}

.icon-like-heart {
  margin-top: 4px;
  background-position: 0 -156px;
  height: 9px;
  width: 11px;
}

.icon-arrow {
	margin: 6px 2px 0 0;
	background-position: 0 -165px;
	height: 7px;
	width: 5px;
}

.icon-arrow-down {
	margin: 8px 0 0;
	background-position: 0 -173px;
	height: 5px;
	width: 7px;
}

.icon-plus {
	background-position: 0 -242px;
	width: 25px;
	height: 25px;
}
.icon-plus-white {
	background-position: 0 -267px;
	width: 25px;
	height: 25px;
}
.icon-checkout {
	background-position: 0 -292px;
	width: 25px;
	height: 25px;
}

.icon-logo {
	margin-top: -2px;
	background-position: 0 -345px;
	width: 28px;
	height: 19px;
}
.icon-award-buyer {
	background-position: 0 -364px;
	width: 16px;
	height: 16px;
}
.icon-award-seller {
	background-position: 0 -380px;
	width: 16px;
	height: 16px;
}
.icon-award-shaker {
	background-position: 0 -396px;
	width: 16px;
	height: 16px;
}
.icon-double-arrow {
	background-position: 0 -415px;
	width: 8px;
	height: 15px;
}
.icon-note {
	background-position: 0 -430px;
	width: 9px;
	height: 9px;
}
.icon-lockbig {
	margin-top: 0px;
	background-position: 0 -439px;
	width: 10px;
	height: 14px;
}
.icon-locksmall {
	margin-top: 0px;
	background-position: 0 -453px;
	width: 8px;
	height: 10px;
}
.icon-lockbig-red {
	margin-top: 0px;
	background-position: 0 -463px;
	width: 10px;
	height: 14px;
}
.icon-lockbig-blue {
	margin-top: 0px;
	background-position: 0 -477px;
	width: 10px;
	height: 14px;
}
.icon-greencheck {
	margin-top: 0px;
	background-position: 0 -491px;
	width: 12px;
	height: 10px;
}
.icon-favourite {
	margin-top: 0px;
	background-position: 0 -502px;
	width: 15px;
	height: 15px;
	&.inactive {
		background-position: -15px -501px;
	}
}
.icon-down-arrow {
	margin-top: 0px;
	background-position: 0 -531px;
	width: 15px;
	height: 15px;
}
.icon-up-arrow {
	margin-top: 0px;
	background-position: -29px -531px;
	width: 15px;
	height: 15px;
}
.icon-flag {
	margin-top: 0px;
	background-position: 0 -546px;
	width: 16px;
	height: 16px;
}
.icon-twitter {
	margin-top: 0px;
	background-position: 0 -562px;
	width: 28px;
	height: 28px;
}
.icon-facebook {
	margin-top: 0px;
	background-position: 0 -590px;
	width: 28px;
	height: 28px;
}
.icon-google {
	margin-top: 0px;
	background-position: 0 -618px;
	width: 28px;
	height: 28px;
}
.icon-download {
	margin-top: 0px;
	background-position: 0 -646px;
	width: 28px;
	height: 28px;
}
.icon-link {
	margin-top: 0px;
	background-position: 0 -674px;
	width: 28px;
	height: 28px;
}
.icon-bigmedal {
	margin-top: -5px;
	background-position: 0 -702px;
	width: 22px;
	height: 31px;
}
.icon-info {
	margin-top: 1px;
	background-position: 0 -733px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.icon-verified {
	margin-top: 1px;
	background-position: 0 -747px;
	width: 31px;
	height: 26px;
}

.icon-bfriends {
	margin-top: -6px;
	background-position: 0 -773px;
	width: 32px;
	height: 32px;
}
.icon-bfavorite {
	margin-top: -6px;
	background-position: 0 -805px;
	width: 32px;
	height: 32px;
}
.icon-brecommend {
	margin-top: -6px;
	background-position: 0 -837px;
	width: 32px;
	height: 32px;
}
.icon-bmessage {
	margin-top: -6px;
	background-position: 0 -869px;
	width: 32px;
	height: 32px;
}
.icon-stats-web , .icon-filter-web {
	 margin-top: 0px;
	 background-position: 0 -901px;
	 width: 18px;
	 height: 18px;
 }
.icon-stats-time {
	margin-top: 0px;
	background-position: 0 -919px;
	width: 18px;
	height: 18px;
}
.icon-stats-mobile, .icon-filter-mobile {
	margin-top: 0px;
	background-position: 0 -937px;
	width: 18px;
	height: 18px;
}
.icon-stats-toptier, .icon-filter-toptieronly {
	margin-top: 0px;
	background-position: 0 -955px;
	width: 18px;
	height: 18px;
}
.icon-stats-proxy, .icon-filter-transparent-proxy {
	margin-top: 0px;
	background-position: 0 -973px;
	width: 18px;
	height: 18px;
}
.icon-stats-home {
	margin-top: 0px;
	background-position: 0 -991px;
	width: 18px;
	height: 18px;
}
.icon-stats-filter {
	margin-top: 0px;
	background-position: 0 -1009px;
	width: 18px;
	height: 18px;
}
.bad {
	.icon-stats-web {
		margin-top: 0px;
		background-position: -18px -901px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-time {
		margin-top: 0px;
		background-position: -18px -919px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-mobile {
		margin-top: 0px;
		background-position: -18px -937px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-toptier {
		margin-top: 0px;
		background-position: -18px -955px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-proxy {
		margin-top: 0px;
		background-position: -18px -973px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-home {
		margin-top: 0px;
		background-position: -18px -991px;
		width: 18px;
		height: 18px;
	}
	.icon-stats-filter {
		margin-top: 0px;
		background-position: -18px -1009px;
		width: 18px;
		height: 18px;
	}
}

.icon-fast-accept {
	margin-top: 0px;
	background-position: 0 -1027px;
	width: 16px;
	height: 16px;
}
.icon-fast-accept-black {
	margin-top: 0px;
	background-position: -16px -1027px;
	width: 16px;
	height: 16px;
}
.icon-fast-accept-green {
	 margin-top: 0px;
	 background-position: -32px -1027px;
	 width: 16px;
	 height: 16px;
}
.icon-fast-accept-green2 {
	margin-top: 0;
	background-position: -48px -1027px;
	width: 18px;
	height: 18px;
}
.icon-fast-accept-red {
	margin-top: 1px;
	background-position: -66px -1027px;
	width: 18px;
	height: 18px;
}
.icon-fast-accept-envelope {
	margin-top: 4.5px;
	background-position: -84px -1027px;
	width: 18px;
	height: 9px;
}
.icon-verified-small {
	margin-top: 0px;
	background-position: 0 -1043px;
	width: 17px;
	height: 17px;
}
.icon-unique-click {
	margin-top: 0px;
	background-position: 0 -1060px;
	width: 9px;
	height: 9px;
}
.icon-home-click {
	margin-top: -1px;
	background-position: 0 -1069px;
	width: 16px;
	height: 16px;
}
.icon-web-click {
	margin-top: 0px;
	background-position: 0 -1085px;
	width: 18px;
	height: 18px;
}
.icon-mobile {
	margin-top: 0px;
	background-position: 0 -1103px;
	width: 25px;
	height: 25px;
}
.icon-mobile-android {
	margin-top: 0px;
	background-position: 0 -1128px;
	width: 25px;
	height: 25px;
}
.icon-mobile-windows {
	margin-top: 0px;
	background-position: 0 -1153px;
	width: 25px;
	height: 25px;
}
.icon-mobile-apple {
	margin-top: 0px;
	background-position: 0 -1178px;
	width: 25px;
	height: 25px;
}
.icon-mobile-blackberry {
	margin-top: 0px;
	background-position: 0 -1203px;
	width: 25px;
	height: 25px;
}

.icon-online-new {
	margin-top: 0;
	background-position: 0 -1228px;
	width: 13px;
	height: 13px;
}
.icon-online-new-small {
	margin-top: 0;
	background-position: -16px -1228px;
	width: 8px;
	height: 8px;
}
.icon-hot {
	margin-top: 2px;
	background-position: 0 -1244px;
	width: 12px;
	height: 12px;
}
.icon-notes {
	margin-top: 2px;
	background-position: 0 -1256px;
	width: 12px;
	height: 12px;
}
.icon-perfect-rating {
	margin-top: 1px;
	background-position: 0 -1268px;
	width: 10px;
	height: 10px;
}
.icon-got-sales {
	margin-top: 0px;
	background-position: 0 -1278px;
	width: 16px;
	height: 16px;
}
.icon-got-sales-v2 {
	margin-top: 0px;
	background-position: -16px -1278px;
	width: 16px;
	height: 16px;
}
.icon-got-no-sales {
	margin-top: 0px;
	background-position: -32px -1278px;
	width: 16px;
	height: 16px;
}
.icon-big-got-sales {
	margin-top: 0px;
	background-position: 0 -1294px;
	width: 22px;
	height: 22px;
}
.icon-big-no-sales {
	 margin-top: 0px;
	 background-position: 0 -1316px;
	 width: 24px;
	 height: 24px;
}
.icon-offline-new {
	margin-top: 0;
	background-position: 0 -1404px;
	width: 16px;
	height: 16px;
}
.icon-glass {
	margin-top: 0;
	background-position: 0 -1420px;
	width: 33px;
	height: 33px;
}
.icon-glass-small {
	margin-top: 0;
	background-position: -33px -1420px;
	width: 15px;
	height: 15px;
}
.icon-clock {
	margin-top: 2px;
	background-position: 0 -1453px;
	width: 13px;
	height: 13px;
}
.icon-crown {
	margin-top: 1px;
	background-position: 0 -1466px;
	width: 15px;
	height: 15px;
}
.icon-mobile-right-arrow {
	background-position: 3px -1482px;
}
.icon-mobile-check {
	background-position: -13px -1482px;
}
.icon-mobile-back-arrow {
	background-position: -32px -1478px;
}
.icon-filter-datacenter {
	background-position: 0 -1505px;
	width: 18px;
	height: 18px;
}
.icon-mark{
	background-position: -2px -1524px;
	width: 16px;
	height: 16px;
}
.icon-message-bubble{
	background-position: -1px -1542px;
	width: 21px;
	height: 21px;
}
.icon-podelis {
	background-position: 0px -1566px;
	width: 16px;
	height: 16px;
}
.icon-award-seller-big {
	background-position: 0px -1582px;
	width: 32px;
	height: 32px;
}
.icon-award-buyer-big {
	background-position: -32px -1582px;
	width: 32px;
	height: 32px;
}
.icon-award-shaker-big {
	background-position: -64px -1582px;
	width: 32px;
	height: 32px;
	position: relative;
}
.icon-contest {
	 background-position: 0 -1614px;
	 width: 38px;
	 height: 36px;
 }
.icon-cup {
	background-position: 0 -1650px;
	width: 33px;
	height: 28px;
}
.icon-crown {
	background-position: 0 -1678px;
	width: 14px;
	height: 13px;
}
.icon-crown-blue {
	background-position: -14px -1678px;
	width: 14px;
	height: 13px;
}
.icon-red-checkbox {
	background-position: 0 -1691px;
	width: 16px;
	height: 16px;
}
.icon-creditcard-visa {
	background-position: 0 -1707px;
	margin-top: 2px;
	width: 24px;
	height: 8px;
}
.icon-creditcard-mc {
	background-position: -24px -1707px;
	margin-top: 2px;
	width: 13px;
	height: 8px;
}
.icon-award-prime-big {
	 background-position: 0 -1715px;
	 width: 32px;
	 height: 32px;
}
.icon-award-discount-big {
	background-position: -32px -1715px;
	width: 32px;
	height: 32px;
	position: relative;
}
.icon-award-accept-big {
	background-position: -64px -1715px;
	width: 32px;
	height: 32px;
}
.icon-award-prime {
	background-position: 0 -1747px;
	width: 16px;
	height: 16px;
}
.icon-award-discount {
	background-position: -16px -1747px;
	width: 16px;
	height: 16px;
	position: relative;
}
.icon-arch-solos {
	background-position: -32px -1747px;
	width: 18px;
	height: 18px;
}
.icon-crown-middle {
	background-position: -50px -1747px;
	width: 14px;
	height: 14px;
}

.icon-msg-channel {
	background-position: 0 -1765px;
	width: 16px;
	height: 16px;
}
.icon-msg-read-double {
	background-position: -16px -1765px;
	width: 21px;
	height: 16px;
}
.icon-msg-remove {
	background-position: -37px -1765px;
	width: 16px;
	height: 16px;
}
.icon-msg-mute {
	background-position: -53px -1765px;
	width: 18px;
	height: 16px;
}
.icon-msg-read-single {
	background-position: -71px -1765px;
	width: 21px;
	height: 16px;
}
.icon-red-logo {
	background-position: 0 -1781px;
	width: 27px;
	height: 17px;
}
.icon-crown-black {
	background-position: 0 -1816px;
	width: 12px;
	height: 11px;
}
.icon-cart {
	background-position: 0 -1827px;
	width: 16px;
	height: 16px;
}
.icon-telemetry {
	background-position: 0 -1843px;
	width: 33px;
	height: 33px;
}
.icon-award-seller-middle {
	background-position: -33px -1843px;
	width: 22px;
	height: 27px;
}
.icon-award-shaker-middle {
	background-position: -55px -1843px;
	width: 20px;
	height: 25px;
	position: relative;
}
.icon-award-list-middle {
	background-image: none;
	width: 24px;
	height: 24px;
	border: 2px solid #c84935;
	border-radius: 12px;
	position: relative;
}



.monohrome{
	[class^="icon-"], [class*=" icon-"] {
		opacity: 0.5;
	}
	.icon-star{
		background-position: -12px -12px;
	}
	.icon-medal{
		background-position: -13px -24px;
	}
	.icon-search{
		background-position: -12px -38px;
	}
    .icon-delete {
      background-position: -11px -137px;
    }
	.icon-online {
		background-position: -8px -148px;
	}
  	.icon-like-heart {
		background-position: -11px -156px;
	}
	.icon-arrow {
		background-position: -8px -165px;
	}
	.icon-arrow-down {
		background-position: -8px -173px;
	}
	.icon-plus {
		background-position: -25px -242px;
	}
	.icon-plus-white {
		background-position: -25px -267px;
	}
	.icon-checkout {
		background-position: -25px -292px;
	}
	.icon-logo {
		background-position: -28px -345px;
	}
	.icon-award-buyer {
		background-position: -16px -364px;
	}
	.icon-award-seller {
		background-position: -16px -380px;
	}
	.icon-award-shaker {
		background-position: -16px -396px;
	}
	.icon-double-arrow {
		background-position: -10px -415px;
	}
	.icon-note {
		background-position: -9px -430px;
	}
	.icon-lockbig {
		background-position: -10px -439px;
	}
	.icon-locksmall {
		background-position: -8px -453px;
	}
	.icon-lockbig-red {
		background-position: -10px -463px;
	}
	.icon-lockbig-blue {
		background-position: -10px -477px;
	}
	.icon-greencheck {
		background-position: -12px -491px;
	}
	.icon-favourite {
		background-position: 0 -517px;
		&.inactive {
			background-position: -15px -517px;
		}
	}
	.icon-flag {
		background-position: -16px -546px;
	}
	.icon-twitter {
		background-position: -28px -562px;
	}
	.icon-facebook {
		background-position: -28px -590px;
	}
	.icon-google {
		background-position: -28px -618px;
	}
	.icon-download {
		background-position: -28px -646px;
	}
	.icon-link {
		background-position: -28px -674px;
	}
	.icon-info {
		background-position: -16px -733px;
	}
}

// Vector icons

.ud-dollar {
	&.ud-green {
		color: #005e20;
	}
	&.ud-sales {
		color: #005e20;
		font-size: 12px;
		font-style: normal;
		font-weight: bold;
		&:before {
			font-size: 14px;
		}
	}
}

.ud-dollar-no-sales {
	&.ud-red {
		color: #9d1313;
	}
}

.ud-thumbs-up {
	&.ud-green {
		color: #005e20;
	}
	&.ud-blue {
		color: @blue;
	}
	&.ud-grey {
		color: @grey-font;
	}
}

.ud-thumbs-down {
	&.ud-red {
		color: @red-font;
	}
	&.ud-grey {
		color: @grey-font;
	}
}

.ud-broken-glass {
	&.ud-red {
		color: @red-font;
	}
}

.ud-shopping-cart {
	&.ud-dark-blue {
		color: #254964;
	}
}