.slider {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	&.slider-horizontal {
		width: @slider-horizontal-width;
		height: @slider-line-height;
		.slider-track {
			height: (@slider-track-height/2);
			width: 100%;
			margin-top: (-@slider-track-height/4);
			top: 50%;
			left: 0;
		}
		.slider-selection, .slider-track-low, .slider-track-high {
			height: 100%;
			top: 0;
			bottom: 0;
		}
		.slider-tick,
		.slider-handle {
			margin-left: (-@slider-line-height/2);
			&.triangle {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				border-width: 0 (@slider-line-height/2) (@slider-line-height/2) (@slider-line-height/2);
				width: 0;
				height: 0;
				border-bottom-color: #0480be;
				margin-top: 0;
			}
		}
		.slider-tick-container {
			white-space: nowrap;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.slider-tick-label-container {
			white-space: nowrap;
			margin-top: @slider-line-height+2;

			.slider-tick-label {
				padding-top: @slider-line-height * .2;
				display: inline-block;
				text-align: center;
				font-size: 10px;
				font-style: italic;
				color:#606060;
				opacity: 0.5;
				&:first-child {
					padding-left: 12px;
				}
				&:last-child {
					padding-right: 17px;
				}
			}

		}
	}
	&.slider-vertical {
		height: @slider-vertical-height;
		width: @slider-line-height;
		.slider-track {
			width: (@slider-line-height/2);
			height: 100%;
			left: 25%;
			top: 0;
		}
		.slider-selection {
			width: 100%;
			left: 0;
			top: 0;
			bottom: 0;
		}
		.slider-track-low, .slider-track-high {
			width: 100%;
			left: 0;
			right: 0;
		}
		.slider-tick,
		.slider-handle {
			margin-top: (-@slider-line-height/2);
			&.triangle {
				border-width: (@slider-line-height/2) 0 (@slider-line-height/2) (@slider-line-height/2);
				width: 1px;
				height: 1px;
				border-left-color: #0480be;
				margin-left: 0;
			}
		}
		.slider-tick-label-container {
			white-space: nowrap;

			.slider-tick-label {
				padding-left: @slider-line-height * .2;
			}
		}
	}
	&.slider-disabled {
		.slider-handle {
			#gradient > .vertical(#dfdfdf, #bebebe);
		}
		.slider-track {
			#gradient > .vertical(#e5e5e5, #e9e9e9);
			cursor: not-allowed;
		}
	}
	input {
		display: none;
	}
	.tooltip {
		z-index: 900;
		&.top {
			margin-top: -30px;
		}
		.tooltip-arrow {
			display: none;
		}
		.tooltip-inner {
			padding-left: 10px;
			background: transparent;
			font-size: 12px;
			font-weight: bold;
			color: #c33a24;
		}

	}
	//.tooltip-inner {
	//	white-space: nowrap;
	//	max-width: none;
	//}
	.hide {
		display: none;
	}
}
.slider-track {
	position: absolute;
	cursor: pointer;
	height: @slider-track-height;
	width: 100%;
	margin-top: -@slider-track-height/2;
	top: 50%;
	left: 0;
	background: #f4d5d1;
	border-radius: @border-radius-base;
}
.slider-selection {
	position: absolute;
	//#gradient > .vertical(#f9f9f9, #f5f5f5);
	//.box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
	//.box-sizing(border-box);
	height: @slider-line-height !important;
	top: -(@slider-line-height - @slider-track-height)/2 !important;
	//bottom: 0;
	background: #c33a24;
	border-radius: @border-radius-base;
}
.slider-selection.tick-slider-selection {
	//#gradient > .vertical(#89cdef, #81bfde);
}
.slider-track-low, .slider-track-high {
	position: absolute;
	background: transparent;
	.box-sizing(border-box);
	border-radius: @border-radius-base;
}
.slider-handle {
	position: absolute;
	top: 0;
	width: @slider-line-height;
	height: @slider-line-height;
	background-color: #337ab7;
	#gradient > .vertical(#149bdf, #0480be);
	filter: none;
	.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	border: 0px solid transparent;
	&.round {
		//border-radius: 50%;
		//margin-left: -@slider-track-radius/2;
		margin-top: -@slider-track-radius/2;
		top: 50%;
		position: absolute;
		width: @slider-track-radius;
		height: @slider-track-radius;
		background: #fff;
		box-shadow: 0 0 0 2px #fff;
		opacity: 1;
		border: 4px solid #c33a24;
		border-radius: @slider-track-radius;
		//padding-left: ;
	}
	&.triangle {
		background: transparent none;
	}
	&.custom {
		background: transparent none;
		&::before{
			line-height: @slider-line-height;
			font-size: 20px;
			content: '\2605'; //unicode star character
			color: #726204;
		}
	}
}
.slider-tick {
	//display: none;
	margin-left: -2px !important;
	&:first-child {
		margin-left: 0 !important;
	}
	margin-top: 6px;
	position: absolute;
	width: 2px;
	height: 4px;
	.box-sizing(border-box);
	background: #c33a24;
	filter: none;
	opacity: 1;
	border: 0;
	&.in-selection {
		//#gradient > .vertical(#89cdef, #81bfde);
		//opacity: 1;
	}
}

