.jquery-switcher-container {
	.icon-big-like, .icon-big-dislike {
		position: relative;
		cursor: pointer;
		opacity: 0.2;
		&.checked, &:hover {
			opacity: 1;
		}
		.sub-label {
			position: absolute;
			left: 0;
			bottom: -20px;
		}
	}

	.icon-big-like {
		//.sub-label {
		//	bottom: -20px;
		//}
	}
	.icon-big-dislike {
		margin-left: 10px;
		//.sub-label {
		//	bottom: -20px;
		//}
	}
	input {
		display: none;
	}

}