.app-widgets-menu-left {
	@sidebar-menu-line-height: 40px;
	//width: @layout-sidebar-width - 25;
	margin: 0;
	ul, li, a {
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
		list-style: none;
		text-decoration: none;
	}
	ul {
		padding: 5px 0 14px 0;
		li {
			a,
			.denied-menu-item,
			.empty-menu-item {
				padding: 0 0 0 12px;
				line-height: @sidebar-menu-line-height;
				.e-lbl {
					text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
					color: #6f6d6d;
					font-weight: bold;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
			a {
				.icon-award-prime {
					margin: -3px 0 0 6px;
				}
				.badge-cnt {
					position: absolute;
					right: 0;
					top: 6px;
					padding: 0 6px;
					line-height: @sidebar-menu-line-height - 12;
					background: #f0f0f0;
					text-align: right;
					font-weight: bold;
					color: #6f6d6d;
					font-size: 12px;
				}
				.badge-cnt-slave {
					position: absolute;
					right: 0;
					top: 1px;
					padding: 0 6px;
					line-height: @sidebar-menu-line-height - 2;
					text-align: right;
					color: #cdcdcd;
					font-size: 12px;
				}
				.right-icon-wrapper {
					position: absolute;
					right: 0;
					top: 4px;
					padding: 0 6px;
					line-height: @sidebar-menu-line-height - 12;
					text-align: right;
				}
			}
			.denied-menu-item,
			.empty-menu-item {
				&:hover {
					cursor: pointer;
				}
				.e-lbl {
					color: #ddd;
				}
				i {
					float: right;
					padding: 0 6px;
					&.e-icon-text {
						display: none;
						font-size: 10px;
						font-style: normal;
						color: @red-font;
					}
				}
			}
			&:hover {
				background: #f0f0f0;
			}
			&.active-menu-item {
				a {
					.e-lbl {
						color: @red-font;
					}
				}
			}
			&.e-divider {
				div {
					width: 61px;
					.divider-mixin;
					margin: 10px 0 10px 10px;
				}
				&:last-child, &:first-child {
					display: none;
				}
			}
			&.m-upgrade {
				.e-lbl {
					font-size: 10px;
					color: #c44512;
				}
			}
		}
	}
}