@font-face {
  font-family: 'udimi';
  src: url('../font/udimi.eot?69477200');
  src: url('../font/udimi.eot?69477200#iefix') format('embedded-opentype'),
       url('../font/udimi.woff2?69477200') format('woff2'),
       url('../font/udimi.woff?69477200') format('woff'),
       url('../font/udimi.ttf?69477200') format('truetype'),
       url('../font/udimi.svg?69477200#udimi') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'udimi';
    src: url('../font/udimi.svg?69477200#udimi') format('svg');
  }
}
*/
 
 [class^="ud-"]:before, [class*=" ud-"]:before {
  font-family: "udimi";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ud-small-calendar:before { content: '\e800'; } /* '' */
.ud-fire:before { content: '\e801'; } /* '' */
.ud-dollar:before { content: '\e802'; } /* '' */
.ud-megaphone:before { content: '\e803'; } /* '' */
.ud-sun-rising:before { content: '\e804'; } /* '' */
.ud-volume-off:before { content: '\e805'; } /* '' */
.ud-broken-glass:before { content: '\e806'; } /* '' */
.ud-shopping-cart:before { content: '\e807'; } /* '' */
.ud-dollar-no-sales:before { content: '\e808'; } /* '' */
.ud-send-button:before { content: '\e809'; } /* '' */
.ud-check-double:before { content: '\e80a'; } /* '' */
.ud-check-single:before { content: '\e80b'; } /* '' */
.ud-edit:before { content: '\e80c'; } /* '' */
.ud-remove-circle:before { content: '\e80d'; } /* '' */
.ud-minus:before { content: '\e80e'; } /* '' */
.ud-clock:before { content: '\e80f'; } /* '' */
.ud-cancel:before { content: '\e811'; } /* '' */
.ud-email:before { content: '\e812'; } /* '' */
.ud-thumbs-down:before { content: '\e813'; } /* '' */
.ud-thumbs-up:before { content: '\e814'; } /* '' */
.ud-thumbs-down-flipped:before { content: '\e816'; } /* '' */
.ud-logo:before { content: '\e81e'; } /* '' */
.ud-paper-plane:before { content: '\e820'; } /* '' */
.ud-no-mobile:before { content: '\e823'; } /* '' */
.ud-open-book:before { content: '\e84a'; } /* '' */
.ud-play-button:before { content: '\e84b'; } /* '' */
.ud-box:before { content: '\e84c'; } /* '' */
.ud-dialog:before { content: '\e84d'; } /* '' */
.ud-attach:before { content: '\e84e'; } /* '' */