.settings-general-index {
	.g-whitebox-1-mixin;
	padding: 20px 25px;
	position: relative;
	.b-logout {
		position: absolute;
		top: 23px;
		right: 30px;
	}
	label {
		margin-bottom: 0;
		font-weight: normal;
	}
	.b-row {
		@width-col-1: 140px;
		min-height: 42px;

		.b-col-1 {
			float: left;
			width: @width-col-1;
			padding-top: 3px;
		}
		.b-col-2 {
			margin-left: @width-col-1;
			.b-row-prime {
				padding-top: 3px;
			}
			.b-row-reply-pm {
				@width-reply-pm-input: 250px;
				.b-reply-pm-input {
					float: left;
					width: @width-reply-pm-input;
					input {
						width: 220px;
						display: inline-block;
					}
					.fa {
						color: @grey-font;
					}
				}
				.b-reply-pm-submit {
					margin-left: @width-reply-pm-input;
					.btn {
						padding-top: 2px;
						padding-bottom: 2px;
					}
				}
			}
			.b-row-link {
				@width-domain: 200px;
				@width-path: 100px;
				position: relative;
				.b-link-note {
					position: absolute;
					top: 26px;
					left: 0px;
					width: 100%;
					color: @red-font;
					font-size: 10px;
				}
				.b-col-domain {
					float: left;
					padding-top: 3px;
					.e-path-toggler {
						margin-left: 10px;
						color: @blue;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.b-col-path {
					float: left;
					input {
						width: 100px;
						margin-right: 10px;
					}
				}
				.b-col-button {
					float: left;
					.btn {
						padding-top: 2px;
						padding-bottom: 2px;
					}
				}
				&:after {.after-clearfix}
			}
			.b-row-passw {
				padding-top: 3px;
			}
		}
		&:after {.after-clearfix}
		&:last-child {
			min-height: 28px;
		}
	}
}

.settings-general-changepassword {
	padding: 30px 0 20px 0;
}