.settings-notifications {
	margin: 25px;

	.b-header {
		font-size: 24px;
		font-weight: bold;
	}

	.b-title {
		position: relative;
		.b-ajax-progress-bar {
			position: absolute;
			bottom: -20px;
			right: 0;
		}
	}

	.viewer-descr {
		padding: 20px;
	}
}